
#div1{
    border: 50px solid #ff0000;
    background-color: #ffa500;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#div2{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 50px solid #ffff00;
    background-color: #008000;
}

#div3{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 50px solid #0000ff;
    background-color: #800080;
}